.jumbotron {
    background-image: url(assets/Water_Image.jpg);
    align-content: center;
}

form {
    margin: auto;
}

#appSummary {
    text-align: center;
    margin: 100px auto;
}

.card-img-top {
    height: 250px;
    margin: auto;
    padding: 1rem;
}

#footer {
    background-color: aqua;
    padding: 90px;
    margin: 50px;
    text-align: center;
}
